@import 'destyle.css';

:root {
  --c-main: #6DC662;
  --c-primary: #00EE97;
  --c-error: #ef5e0c;
  --c-back: #F0FDEC;
  --c-line: #c4c4c4;
  --c-border: #c8c8c8;

  --f-family: Hiragino Sans CNS;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
